.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #483434;
  position: relative;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}
.media:hover {
  background-color: #6b4f4f;
}

.poster {
  border-radius: 8px;
  max-height: 400px;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}
.sub-title-Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub-title {
  padding: 2px;
}
.bottom-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 550px) {
  .media {
    width: 46%;
  }
  .sub-title {
    font-size: 15px;
  }
}
